html {
    box-sizing: border-box;
    font-size: 62.5%; /**Reset para REMS - 62.5% = 10px de 16px **/
}
*, *:before, *:after {
    box-sizing: border-box;
}
body {
    font-family: 'Concert One', sans-serif;
    font-size: 2rem;
    line-height: 2;
}

/** Globales **/

img {
    max-width: 100%;
}
.contenedor {
    max-width: 120rem;
    /* = 1200px*/
    margin: 0 auto 0 auto;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 2.8rem;
}

h4 {
    font-size: 2.5rem;
}
/**Utilidades*/
.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.margin-0 {
    margin-top: 0;
    margin-bottom: 0;
}
.centrar-texto {
    text-align: center;
}
.contenido-centrado {
    max-width: 1000px;
}
.imagen {
    border-radius: 0 0 0 4rem;
}
/** Footer **/
footer {
    background-color: #212121;
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    margin: 0;
}
.contenido-footer {
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
   
}
.contenido-footer h5::before{
    content: '';
    display: block;
    width: .5rem;
    height: 20rem;
    background-color: white;
    margin-top: 1rem;
}
.contenido-footer span {
    color:  rosybrown;
    font-weight: 900;
}

.contenido-footer div:last-of-type {
    margin-right: 5rem;
}
.row {
    text-align: right;
    margin-right: 5rem;
}

/* Header */
.site-header.home {
    background-image: url(../img/background-home.png);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 50rem;
    margin-bottom: 0%;
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenido-header h1 {
    color: #ffffffc7;
    background-color: rosybrown;
    margin-top: 0;
    max-width: 50rem;
    line-height: 1;
    text-align: center;
}
.contenido-header img{
    margin-bottom: 0;
}

/* Barra de navegación principal*/
.navbar {
    background-color: #212121;
    height: 6rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegacion {
    display: flex;  
    margin-right: 1rem;
    align-items: center;
}

.icono {
    margin-top: 1rem;
    margin-left: 2rem;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    margin-right: 2rem;
}

.navbar a:hover {
    color: #D693BE;
}
/** Eventos Estelares**/
.eventos {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
.evento{
    background-color:#424242;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    align-items: center;
    border-radius: 2rem 2rem 2rem 4rem;
}
.evento a {
    margin-top: 12rem;
    margin-right: 4rem;
}
.texto-evento {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    margin: 0;
}
.texto-evento p {
    font-size: 1.5rem;
    margin-top: 0;
    max-width: 500px;
}
/**Blog**/
.descubre {
   display: flex;
   justify-content: space-between;
   margin-bottom: 2rem;
}
.descubre .entradas{
    flex-basis: 60%;
    
}

.descubre .entrada-principal {
    flex-basis: calc(40% - 2rem);
    padding: 2rem;
    border: 6px solid #9D7EB9;
    background-color: #F5F5F5;
    border-radius: 2rem;
}
.mini-entrda {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.mini-entrda:last-of-type{
    margin-bottom: 0;
}
.mini-entrda .imagen {
    flex-basis: 30%;
}
.mini-entrda .texto-entrada {
    flex-basis: calc(60% - 3rem);
}
.texto-entrada h4{
    margin: 0;
    line-height: 1.4;
}
.texto-entrada p {
    color: black;
    text-decoration: none;
}
/**Botones*/
.boton-base {
    color: white;
    font-weight: 300;
    text-decoration: none;
    font-size: 1.8rem;
    padding: .5rem .5rem;
    display: inline-block;
    text-align: center;
    border: none;
    width: 120px;
    height: 45px;
    border-radius: 10px;
}
.boton-rosa {
    background-color: #D693BE;
}
.boton-morado {
    background-color: #9D7EB9;
}
.boton-azul {
    background-color: #B2C4CF;
}
/*CONTACTO*/

label {
    display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    background-color: #9D7EB9;
    padding: 1rem;
    display: block;
    width: 100%;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
    color-adjust: #000000;
}

