/*-----------------------------------------------------------------------*/

html {
    font-size: 70%;
    /** Reset para REMS - 62.5% = 10px de 16px **/
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
}

footer {
    background-color: #212121;
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 4rem;
}

.navbar {
    background-color: #212121;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
}

.nav-navbar {
    text-decoration: none;
    font-size: 1.8em;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
}

.icono {
    margin-right: 1rem;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 4rem;
}

.navbar a:hover {
    color: #D693BE;
}

.navbar a:last-of-type {
    margin: 0rem;
}

.header-home {
    background-image: url(../img/background-home.png);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 50rem;
}

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido-header p {
    color: #ffffffc7;
    background-color: rosybrown;
    padding-bottom: 2rem;
    max-width: 50rem;
    line-height: 1;
    font-size: 2.4rem;
    text-align: center;
}

.col {
    max-width: 50rem;
    margin-left: 2.5rem;
}